:root{
    --cv-form-height: 128px;
}

.pw-btn{
    width: 32px;
    aspect-ratio: 1;
    transform-origin: center;
    transform: translate(0,-14%);
    right: -48px;
    & .pw-icon { 
        position: absolute; 
        inset: 0px;
        top: 5px;
    }

    &.pw-sign {
        transform: translate(0,50%);
    }
}

.cbtn-pink{
    --bs-btn-bg: #c446bd;
    --bs-btn-border-color: #c446bd;
    --bs-btn-hover-bg: #bb2dbb;
    --bs-btn-hover-border-color: #9e32a1;
    --bs-btn-focus-shadow-rgb: 206, 100, 206;
    --bs-btn-active-bg: #9e32a1;
    --bs-btn-active-border-color: #9b28a5;
    --bs-btn-disabled-bg: #c446bd;
    --bs-btn-disabled-border-color: #c446bd;
}

.cbtn-purple{
    --bs-btn-bg: #6f35dc;
    --bs-btn-border-color: #6f35dc;
    --bs-btn-hover-bg: #472dbb;
    --bs-btn-hover-border-color: #522ab0;
    --bs-btn-focus-shadow-rgb: 92, 83, 225;
    --bs-btn-active-bg: #522ab0;
    --bs-btn-active-border-color: #4328a5;
    --bs-btn-disabled-bg: #6f35dc;
    --bs-btn-disabled-border-color: #6f35dc;
}

.userlist-container {
    height: calc(100vh - 48px);
    top: 24px;
    right: 24px;
}

.userlist-element {
    
    background: var(--bs-list-group-bg);
    
    &:hover{
        background: var(--bs-list-group-action-hover-bg)
    }
}

.userlist-avatar {
    width: 48px;
    border-radius: 100%;
    aspect-ratio: 1;
}